#newuserform-username{
    width: 30%;
    margin: auto;
}

#newuserform-password{
    width: 30%;
    margin: auto;
}

#newuserform-first{
    width: 30%;
    margin: auto;
}

#newuserform-last{
    width: 30%;
    margin: auto;
}

